<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar TailwindCSS</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h1 class="text-4xl font-bold text-blue-500">Belajar Tailwind CSS</h1>

    <div class="flex bg-gray-200 py-5">
      <div class="mx-3 text-center bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3 hover:bg-blue-900"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="mx-3 bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="mx-3 bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="mx-3 bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="mx-3 bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
    </div>

    <div class="flex bg-gray-200 py-5">
      <div class="mx-3 text-center bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="mx-3 bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="mx-3 bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="mx-3 bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
      <div class="mx-3 bg-white shadow-lg w-64 mt-5">
        <img
          src="https://scontent.fsub4-1.fna.fbcdn.net/v/t1.0-9/64300373_908236286190913_2454190002796494848_n.jpg?_nc_cat=108&_nc_sid=174925&_nc_eui2=AeEpKfXWywVdsZCsyeL0U-c1Opyv-RYc-y46nK_5Fhz7Lt9bdaQTK6pTC7egIGfija2GKTesTu6tCeokxwTe5EFr&_nc_oc=AQm8q2xnlZkH8AE6_x61Lt0h1xNoIBYeR0Ybq-sNNavYBoqXNq8kFbYd7LeD9S0KGGo&_nc_ht=scontent.fsub4-1.fna&oh=731669d2ed278d681169df55f2710582&oe=5EF2021E"
          alt="koala"
        />
        <div class="p-6">
          <h4 class="font-bold">Halo, nama saya Koala!</h4>
          <p class="text-sm mt-2">
            Saya seekor yang hidup di dalam rumah dan saya bekerja sebagai
            programmer.
          </p>
        </div>
        <div class="text-right mt-4">
          <button
            class="bg-blue-600 text-sm text-white py-1 px-3 rounded-full mb-3"
          >
            Read More
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
